root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.cs]
indent_size = 4
# Convenções de nomenclatura e estilo (C#)
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion
dotnet_style_namespace_match_folder = true:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

[*.{json,csproj,sln,http}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
